.container {
	width: 550px;
	background-color: #fff;
	margin: auto;
}

nav {
	color: #fff;
	background-color: #f55a5a;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo {
	font-size: 14.4608px;
	letter-spacing: -0.075em;
	font-weight: 100;
	display: flex;
	align-items: center;
	gap: 5px;
}

.cards {
	padding: 2rem 0;
}

.card {
	width: 470px;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 1rem auto;
}

.card-img img {
	border-radius: 5px;
	width: 125px;
	height: 168px;
}

.card-info {
	color: #2b283a;
}

.location {
	padding-bottom: 6px;
	display: flex;
}

.location-name img {
	width: 7px;
	margin-right: 5px;
}

.location-name {
	font-size: 10.24px;
	line-height: 12px;
	letter-spacing: 0.17em;
	text-transform: uppercase;
	display: flex;
}

.location-link {
	font-size: 10.24px;
	line-height: 12px;
	/* identical to box height */
	/* text-decoration-line: underline; */
	margin-left: 10px;
	color: #918e9b;
}

.title {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	padding-bottom: 1rem;
}

.date {
	font-weight: 700;
	font-size: 10.24px;
	line-height: 12px;
	padding-bottom: 8px;
}
.description {
	font-size: 10.24px;
	line-height: 150%;
}
